<header>
  <mat-toolbar color="primary">Feed</mat-toolbar>
</header>

<section class="container">
  <div class="row">
    <div class="col-md-6 col-sm-6 col-xs-6 div-margin-top">
      <mat-form-field>
        <mat-label>Search</mat-label>
        <input matInput type="search" [(ngModel)]="keyword" placeholder="Search anything" 
        (ngModelChange)="getFeedData()">
      </mat-form-field>
    </div>
    <div class="col-md-6 col-sm-6 col-xs-6 div-margin-top pull-right">
      <mat-form-field appearance="fill">
        <mat-label>Sort By</mat-label>
        <mat-select (selectionChange)="handleChange($event)">
          <mat-option value="name">name</mat-option>
          <mat-option value="dateLastEdited">dateLastEdited</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row">
    <mat-card class="col-md-4 col-sm-6 col-xs-12 example-card" *ngFor="let feed of feedList">
      <img mat-card-image [src]="feed.image" alt="Feed image">
      <mat-card-title>{{feed.name}}</mat-card-title>
      <mat-card-content>
        <p>
          {{feed.description}}
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <mat-paginator [length]="totalResults" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]"
    [showFirstLastButtons]="true" (page)="handlePage($event)">
  </mat-paginator>
</section>

<footer></footer>